@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
.fontLogo{
    h2{
      padding-top: 2rem;
      font-family: 'Roboto';
      font-style: normal;
    }
  
    p{
      font-family: 'Roboto';
      font-style:normal;
      font-weight: 300;
      margin-top:-1rem;
    }
    font-size: 1.7rem;
    
  }
  
  .logo{
    width: 40%;
  }